{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<section id="post-container" role='main' class="grid-container main-container">

    <article class="post" id="{{id}}" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}
        <header>
        Hey 1
            <h2 class="post-title" itemprop="name headline">{{title}}</h2>
        </header>
        <section class="post-text" itemprop="articleBody text">
            {{content}}
        </section>
        <footer>
            <ul>
                <li>
                  {{> author}}
                </li>
                <span class="actions">
                   <li class="notes"><i class="fa fa-clock-o"></i> <span class="hide-on-mobile" itemprop="datePublished">{{date published_at format="DD MMMM YYYY"}}</span><span class="hide-on-desktop hide-on-tablet">{{date published_at format="DD/MM/YYYY"}}</span></li>
                 </span>
            </ul>
            <ul class="actions">
                <span class="notes">
                     {{#foreach tags}}
                        <li><a href="{{url}}">#{{name}}</a></li>
                    {{/foreach}}
                </span
            </ul>

        </footer>

        {{/post}}

    </article>

</section>

<!--{{> comments}}-->
