{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}


    {{#author}}
       {{#if cover}}
            <img id="bg-img" src="{{cover}}">
        {{/if}}
     {{/author}}       
      
        <header class="main-header about-page-header">
            <div class="wrapper"></div>
        </header>
        <section id="post-container" role='main' class="main-section hide-post">
            <div class="grid-container grid-720">
            {{#author}}
                <article class="post  about-page-post" id="{{id}}">
                    <header>
                    {{#if image}}
                        <div class="about-profile-img">
                          <img src="{{image}}">
                        </div>
                    {{/if}}    
                    
                    <h2 itemprop="name" class="post-title">{{name}}</h2>
                    <div class="btn-sub-cont"><a class="btn-sub" href="{{url}}rss/">Subscribe</a></div>
                    </header>
                </article>
            {{/author}}
            {{! The tag below includes the post loop - partials/post-loop.hbs }}
            {{> "post-loop"}}
            </div>
        </section>
  



