<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
  <!--<![endif]-->
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <!-- Google Authorship and Publisher Markup -->
    {{> google-authorship}}

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/peeves.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body itemscope itemtype="http://schema.org/Blog">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <aside id="sidebar" class="sidebar">
         <ul>
         {{> sidebar}}
        </ul>
    </aside>

    {{! Everything else gets inserted here }}
    <div class="page-wrapper">
        <nav id="navbar" class="navbar">
         <button class="menu-btn" id="openMenu"><span class="table-span"><span><i class="fa fa-bars"></i></span></span></button>
        </nav>

    {{{body}}}

            <footer class="main-footer">
              <div class="grid-container grid-720">

                  <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
                  <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>

              </div>
            </footer>

        <input type="hidden" id="blog-title" value="{{@blog.title}}">
    </div>


    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="{{asset "js/peeves.js"}}"></script>

    {{> google-analytics}}

</body>
</html>
