{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header  class="top-header top-header-bg" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
<input type="hidden" value="{{#if @blog.cover}}{{@blog.cover}}{{/if}}" name="bg-link" id="bg-link">
  <div class="grid-container height-100">
    <div class="grid-100 mobile-grid-100 header height-100">
    <div class="align-content">

    <h1 itemprop="name">{{@blog.title}}</h1>

    <h2 itemprop="description">{{@blog.description}}</h2>

    {{> social-links}}

      </div>
    </div>
  </div>
</header>
{{! The main content area on the homepage }}
<section id="post-container" role='main' class="grid-container main-container">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

  <article class="post" id="{{id}}" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
      {{content words=0}}
          <h2 class="post-title" itemprop="name headline"><a href="{{url}}" itemprop="url">{{title}}</a></h2>
      </header>
      <section class="post-text" itemprop="articleBody text">
          {{excerpt}}&hellip;
      </section>
      <footer class="clearfix">
          <ul>
              <li>
                  {{> author}}
              </li>
             <span class="actions">
                <li class="notes"><a href="{{url}}"><i class="fa fa-book"></i> Read <span class="hide-on-mobile">more</span></a></li>
                <li class="notes">&bull;</li>
                <li class="notes"><i class="fa fa-clock-o"></i> <span class="hide-on-mobile" itemprop="datePublished">{{date published_at format="DD MMMM YYYY"}}</span> <span class="hide-on-desktop hide-on-tablet">{{date published_at format="DD/MM/YYYY"}}</span></li>
              </span>
          </ul>
            <ul class="actions tags">
                <span class="notes">
                     {{#foreach tags}}
                        <li><a href="{{url}}">#{{name}}</a></li>
                    {{/foreach}}
                </span
            </ul>
      </footer>
  </article>
    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</section>
