{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{#post}}
 {{#if author.cover}}<img id="bg-img" src="{{author.cover}}">{{/if}}
    <span itemscope itemtype="http://schema.org/BlogPosting">
        <header class="main-header about-page-header">
            <div class="wrapper"></div>
        </header>
        <section id="post-container" role='main' class="main-section hide-post">
            <div class="grid-container grid-720">
                   

                    <article class="post  about-page-post" id="{{id}}">
                   
                        <header>
                            <div class="about-profile-img">
                              <img src="{{author.image}}">
                            </div>
                            <h2 itemprop="name" class="post-title">{{{title}}}</h2>
                        </header>
                         <div class="wrapper">
                            <section class="post-text">
                                {{content}}
                            </section>
                        </div>  
                    </article>
            </div>
        </section>
    </span>
    <input type="hidden" id="hidden-bg" value="{{#if author.cover}}{{author.cover}}"{{/if}}">
{{/post}}

