{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}



        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

 <span itemscope itemtype="http://schema.org/BlogPosting">
    <header class="main-header post-page-header" style="background-image: url({{image}})">
      <div class="wrapper">
          <div class="grid-container grid-720">

            <div class="inner-header">
            <span class="table-span">
                <span>
                    <h1 itemprop="name">{{{title}}}</h1>
                     <ul>

                    <li class="hide-on-mobile">
                        {{#author}}
                        {{#if image}}
                          <img class="author-image" src="{{image}}" alt="{{name}}">
                        {{/if}}
                          <span class="author-info">{{name}}
                        {{/author}}
                        {{tags separator=" , " prefix="in "}}</span>
                          <span class="author-info hide-on-mobile" style="float:right;">&nbsp;read</span>
                          <span class="author-info post-reading-time " style="float:right;"></span>
                      </li>
                      <li class="hide-on-desktop hide-on-tablet">
                        {{#author}}
                          {{#if author.image}}
                            <img class="author-image" src="{{image}}" alt="{{name}}">
                          {{/if}}
                            <span class="author-info">{{name}}
                          {{/author}}
                        </span>
                          <span class="author-info post-reading-time" style="float:right;"></span>
                      </li>

                    </ul>

                </span>
            </span>
            </div>
          </div>
        </div>
    </header>


    <section id="post-container" role='main' class="main-section hide-post">
        <div class="grid-container grid-720">

        <article class="post post-page-post" id="{{id}}">
          <div class="wrapper">
              <section class="post-text" itemprop="articleBody text">
                  {{content}}
              </section>
              <section class="post-page-share">
                <ul>
                  <span class="date-posted">
                    <li><i class="fa fa-calendar-o"></i> <time itemprop="datePublished" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></li>
                  </span>
                  <span class="share-icons">
                    <li class="share-title">Share on:</li>
                    <li><a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://plus.google.com/share?url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus"></i></a></li>
                  </span>
                </ul>
              </section>
              <footer >
              {{#if tags}}
                <section class="post-page-tags hide-on-desktop hide-on-tablet">
                  <small>Tags</small>
                  <p>{{tags separator=" , "}}</p>
                </section>
                {{/if}}

                {{! Everything inside the #author tags pulls data from the author }}
                {{#author}}
                <section class="post-page-author">
                  <small>About the author</small>
                  <div class="author-wrapper" itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <ul>
                      {{#if image}}
                      <li><a href="{{url}}"><img src="{{image}}" alt="{{name}}"></a></li>
                        <li>
                      {{else}}
                        <li style="margin-left:0;" >
                      {{/if}}

                      <h3 rel="author" itemprop="url name"><a href="{{url}}">{{name}}</a></h3>
                      {{#if website}}
                        <p><i class="fa fa-globe"></i> <a href="{{website}}">Website</a></p>
                      {{/if}}
                      {{#if bio}}
                        <p>{{bio}}</p>
                      {{else}}
                        <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                      {{/if}}
                      </li>
                    </ul>
                  </div>
                </section>
                {{/author}}
                <!--{{> comments}}-->
              </footer>
          </div>
        </article>
        </div>
    </section>
</span>


{{/post}}


